<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <p>Your Bag is full of Bugsnax!</p>
            <p>Empty your bag by clicking the "Empty Bag" butoon.</p>
            <p>To return to to the log-in page click <a href="/collection">here</a></p>
        </div>

        

    </div>
</section><!-- End Contact Section -->
