<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <p>{{{msg}}}</p>
            <p>To return to to the log-in page click <a href="/login">here</a></p>
        </div>



    </div>
</section><!-- End Contact Section -->