<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">

    <div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2>Snakbook</h2>
        <p>Welcome to the Snakbook, buddy! Here you can read up on Bugsnax. You can also add Bugsnax to your collection.</p>
    </div>

    <div class="row gy-4">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
                <div class="icon">
                    <img src="bugsnax/bunger_collection.webp" alt="" class="img-fluid">
                </div>
                <h4>Bunger</h4>
                <p>Bunger is an aggressive Bugsnak. Bunger's body is a half-wrapped cheese burger with curly fries for both legs and horns. Bunger loves ketchup.</p>
                <br>
                <button type="button" class="btn btn-block" style="background: #77BBC0;" onclick="addSnak('Bunger', 'bugsnax/bunger_collection.webp')">Add to collection</button>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange">
                <div class="icon">
                    <img src="bugsnax/Aggroll_collection.webp" alt="" class="img-fluid">
                </div>
                <h4>Aggroll</h4>
                <p>Aggroll is an aggressive Bugsnak. Aggroll's body is a paper box with four egg rolls for legs. Aggroll's native region is unknown. They are attracted to hot sauce.</p>
                <br>
                <button type="button" class="btn btn-block" style="background: #77BBC0;" onclick="addSnak('Aggroll', 'bugsnax/Aggroll_collection.webp')">Add to collection</button>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-pink">
                <div class="icon">
                    <img src="bugsnax/Big_Bopsicle_collection.webp" alt="" class="img-fluid">
                </div>
                <h4>Big Bopsicle</h4>
                <p>Big Bopsicle is an aggressive Bugsnak. Big Bopsicle is a double popsicle Bugsnak that is beetle-like. They will ram into threats freezing them. The Bugsnak can be broken into two Bopsicles.</p>
                <br>
                <button type="button" class="btn btn-block" style="background: #77BBC0;" onclick="addSnak('Big Bopsicle', 'bugsnax/Big_Bopsicle_collection.webp')">Add to collection</button>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-yellow">
                <div class="icon">
                    <img src="bugsnax/cinnasnail_collection.webp" alt="" class="img-fluid">
                </div>
                <h4>Cinnasnail</h4>
                <p>Cinnasnail is a snail-like Bugsnak. Cinnasnail is so sticky that it can climb any surface, leaving behind a trail of icing.</p>
                <br>
                <button type="button" class="btn btn-block" style="background: #77BBC0;" onclick="addSnak('Cinnasnail', 'bugsnax/cinnasnail_collection.webp')">Add to collection</button>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-red">
                <div class="icon">
                    <img src="bugsnax/chillynilly_collection.webp" alt="" class="img-fluid">
                </div>
                <h4>Chillynilly</h4>
                <p>Chillynilly is an ice cream sandwhich Bugsnak that resembles a firefly. Chillynilly is nocturnal. They love chocolate.</p>
                <br>
                <button type="button" class="btn btn-block" style="background: #77BBC0;" onclick="addSnak('Chillynilly', 'bugsnax/chillynilly_collection.webp')">Add to collection</button>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal">
                <div class="icon">
                    <img src="bugsnax/pineantula_collection.webp" alt="" class="img-fluid">
                </div>
                <h4>Pineantula</h4>
                <p>Pineantula is a pineapple Bugsnak resembling a spider. Pineantula is timid and spends a lot of its time burrowing in the sand like a trapdoor spider.</p>
                <br>
                <button type="button" class="btn btn-block" style="background: #77BBC0;" onclick="addSnak('Pineantula', 'bugsnax/pineantula_collection.webp')">Add to collection</button>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
                <div class="icon">
                    <img src="bugsnax/strabby_collection.webp" alt="" class="img-fluid">
                </div>
                <h4>Strabby</h4>
                <p>Strabby is a strawberry Bugsnak. Strabby is very friendly and always looking to make new friends. They love chocolate and can be red or white.</p>
                <br>
                <button type="button" class="btn btn-block" style="background: #77BBC0;" onclick="addSnak('Strabby', 'bugsnax/strabby_collection.webp')">Add to collection</button>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange">
                <div class="icon">
                    <img src="bugsnax/weenyworm_collection.webp" alt="" class="img-fluid">
                </div>
                <h4>Weenyworm</h4>
                <p>Weenyworm is the hot dog Bugsnak. Weenyworm moves like a snake or worm. Weenyworm is fond of ketchup and cheese sauce.</p>
                <br>
                <button type="button" class="btn btn-block" style="background: #77BBC0;" onclick="addSnak('Weenyworm', 'bugsnax/weenyworm_collection.webp')">Add to collection</button>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-pink">
                <div class="icon">
                    <img src="bugsnax/scorpepper_collection.webp" alt="" class="img-fluid">
                </div>
                <h4>Scorpepper</h4>
                <p>Scorpepper is an agressive ghost pepper bugsnak. Scorpepper is invisible until it is disturbed. Scorpepper loves cheese.</p>
                <br>
                <button type="button" class="btn btn-block" style="background: #77BBC0;" onclick="addSnak('Scorpepper', 'bugsnax/scorpepper_collection.webp')">Add to collection</button>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-yellow">
                <div class="icon">
                    <img src="bugsnax/shishkabug_collection.webp" alt="" class="img-fluid">
                </div>
                <h4>Shishkabug</h4>
                <p>Shishkabug is the shish kebab Bugsnak that resembles an ant. Shitkabug has a tomato for a head, grilled meat for a thorax, and a mushroom for an abdomen. Shishkabug loves hot sauce.</p>
                <br>
                <button type="button" class="btn btn-block" style="background: #77BBC0;" onclick="addSnak('Shishkabug', 'bugsnax/shishkabug_collection.webp')">Add to collection</button>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-red">
                <div class="icon">
                    <img src="bugsnax/sandopede_full_collection.webp" alt="" class="img-fluid">
                </div>
                <h4>Sandopede</h4>
                <p>Sandopede is a sandwhich Bugsnak made up of smaller sub sandopedes. Sandopede is meaty and aggressive. The Snak loves ranch and cheese.</p>
                <br>
                <button type="button" class="btn btn-block" style="background: #77BBC0;" onclick="addSnak('Sandopede', 'bugsnax/sandopede_full_collection.webp')">Add to collection</button>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal">
                <div class="icon">
                    <img src="bugsnax/scoopy_banoopy_collection.webp" alt="" class="img-fluid">
                </div>
                <h4>Scoopy Banoopy</h4>
                <p>Scoopy Banoppy is an aggressive large Bugsnak based on a banana split. Scoopy Banoopy is made up of Banopper, Cheery, and Scoopy. If the Snak is exposed to fire, it wil break into smaller Bugsnax.</p>
                <br>
                <button type="button" class="btn btn-block" style="background: #77BBC0;" onclick="addSnak('Scoopy Banoopy', 'bugsnax/scoopy_banoopy_collection.webp')">Add to collection</button>
            </div>
        </div>

    </div>

    </div>
</section><!-- End Services Section -->
